.rainbow { 
  height: 30px;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0.5rem;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #dd00f3);   
}


